body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #ff3366;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 5px solid #c0284a;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.carousel-item {
    transition: transform 0.5s ease;
}

.carousel-item img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none;
}

.carousel-control-prev-icon:before,
.carousel-control-next-icon:before {
    content: ' ';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel-control-prev {
    left: -25px;
}

.carousel-control-next {
    right: -25px;
}

.carousel-control-prev-icon:before {
    background-image: url('arrow-left.png');
}

.carousel-control-next-icon:before {
    background-image: url('arrow-right.png');
}
